{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        .form-create {
          max-width: 500px;
          padding: 15px;
          margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}

  <h1>Group External Users Creation</h1>
  
  <p class="lead">You are currently logged in as {{ user.username }}.</p>
  
<form method="POST" class="form-create">
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.name) }}
  {{ wtf.form_field(form.username) }}
  {{ wtf.form_field(form.email) }}
  
  <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
